@charset "utf-8";

body{
  background-color:powderblue;
}

#gnav a{
  display:block;
  text-align:center;
  text-decoration:none;
  background:lightskyblue;
  color:white;
}

#gnav a:after{
  clear:both;
}


#gnav div.text{
  display:table-cell;
  vertical-align:middle;
  padding:10px 5px;
}

#gnav a:hover{
  background:lightcyan;
  color:black;
}

#gnav a.home{
  background:white;
  color:mediumturquoise;
  font-weight:bold;
}
#gnav a.main1{
  background:white;
  color:mediumturquoise;
  font-weight:bold;
}

#gnav a.main2{
  background:white;
  color:mediumturquoise;
  font-weight:bold;
}
#gnav a.link{
  background:white;
  color:mediumturquoise;
  font-weight:bold;
}
#gnav ul{
  overflow:hidden;
}

#gnav li{
  float:left;
  width:156px;
  border-right:white 1px solid;
  list-style-type:none;
}

#gnav li:first-child{
  border-left:white 1px solid;
}

#yura{
  width:24px;
  left:200px;
  top:200px;
}
