@charset "utf-8";

body{
  background-color:powderblue;
}

#gnav a{
  display:block;
  text-align:center;
  text-decoration:none;
  background:lightskyblue;
  color:white;
    height:46px;
    width:156px;
}

#gnav a:after{
  clear:both;
}


#gnav a.text{
  display:table-cell;
  vertical-align:middle;
}

#gnav a:hover{
  background:lightcyan;
  color:black;
}

#gnav a.home{
    display:table-cell;
  background:white;
  color:mediumturquoise;
  font-weight:bold;
    vertical-align:middle;
}
#gnav a.main1{
    display:table-cell;
  background:white;
  color:mediumturquoise;
  font-weight:bold;
    vertical-align:middle;
}

#gnav a.main2{
    display:table-cell;
  background:white;
  color:mediumturquoise;
  font-weight:bold;
    vertical-align:middle;
}
#gnav a.link{
    display:table-cell;
  background:white;
  color:mediumturquoise;
  font-weight:bold;
    vertical-align:middle;
}
#gnav ul{
  overflow:hidden;
}

#gnav li{
  float:left;
  height:46px;
  width:156px;
  border-right:white 1px solid;
  list-style-type:none;
}

#gnav li:first-child{
  border-left:white 1px solid;
}

#yura{
text-align:center;
  position:absolute;
  width:300px;
  left:500px;
  top:300px;
}

#huwa{
text-align:center;
  position:absolute;
  width:300px;
  left:500px;
  top:300px;
}


